.tagline {
    width: 400px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    .tagline {
      width: 200px;

    }
  }

.notify {
    margin-top: 120px;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-container {
    background-color: #333;
}

.features .row, .members .row{
    margin-bottom: 30px;
}

.faq {
    background-color: lightgrey;
    color: #585858;
}

.footer-container {
    margin-top: 0;
}